.popup__save-button {
  width: 100%;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin-top: 48px;
  background-color: #000;
  border: none;
  border-radius: 2px;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 577px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
  }
}