.page {
  background-color: #000;
  color: #fff;
  margin: 0;
  min-width: 280px;
  max-width: 100%;
  font-family: 'Inter', "Helvetica Neue", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}