.footer {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 873px) {
  .footer {
    max-width: 587px;
  }
}

@media screen and (max-width: 577px) {
  .footer {
    max-width: 577px;
  }
}