.popup__input {
  margin: 20px 0 0 0;
  width: 99%;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
